In [1]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col as pyspark_col
spark=SparkSession.builder.appName('testApp').getOrCreate()
# df=spark.read.csv("s3://citibike-s3test/listingsDataViz.csv",header=True,inferSchema=True)
df=spark.read.csv("C:\\Users\\Nilakantha\\Documents\\My Folder\\pythonPOCs\\employees.csv",header=True,inferSchema=True)
df.printSchema()

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: string (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

In [30]:
df.show(10)
df.select(col("SALARY"),col("MANAGER_ID")).groupBy("MANAGER_ID").mean().orderBy("SALARY").show()

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-Jun-07|  SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-Jan-08|  SH_CLERK|  2600|            - |       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-Sep-03|   AD_ASST|  4400|            - |       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-Feb-04|    MK_MAN| 13000|            - |       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-Aug-05|    MK_REP|  6000|            - |       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777| 7-Jun-02|    HR_REP|  6500|            - |       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888| 7-Jun-02|    PR_REP| 10000|            - |       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080| 7-Jun-02|    AC_MGR| 12008|            - |       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181| 7-Jun-02|AC_ACCOUNT|  8300|            - |       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-Jun-03|   AD_PRES| 24000|            - |        - |           90|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 10 rows

AnalysisException: cannot resolve 'SALARY' given input columns: [MANAGER_ID, avg(SALARY)];
'Sort ['SALARY ASC NULLS FIRST], true
+- Aggregate [MANAGER_ID#721], [MANAGER_ID#721, avg(SALARY#719) AS avg(SALARY)#1220]
   +- Project [SALARY#719, MANAGER_ID#721]
      +- Relation [EMPLOYEE_ID#712,FIRST_NAME#713,LAST_NAME#714,EMAIL#715,PHONE_NUMBER#716,HIRE_DATE#717,JOB_ID#718,SALARY#719,COMMISSION_PCT#720,MANAGER_ID#721,DEPARTMENT_ID#722] csv