In [6]:
# Working with Views
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import current_timestamp

spark=SparkSession.builder.appName('testApp').getOrCreate()
df=spark.read.csv("C:\\Users\\Nilakantha\\Documents\\My Folder\\pythonPOCs\\walmart_stock.csv",header=True,inferSchema=True)

In [7]:
df.show(8)

+---------+-----+-----+-----+-----+--------+---------+
|     Date| Open| High|  Low|Close|  Volume|Adj Close|
+---------+-----+-----+-----+-----+--------+---------+
| 1/3/2012|59.97|61.06|59.87|60.33|12668800|52.619235|
| 1/4/2012|60.21|60.35|59.47|59.71| 9593300|52.078475|
| 1/5/2012|59.35|59.62|58.37|59.42|12768200|51.825539|
| 1/6/2012|59.42|59.45|58.87| 59.0| 8069400| 51.45922|
| 1/9/2012|59.03|59.55|58.92|59.18| 6679300|51.616215|
|1/10/2012|59.43|59.71|58.98|59.04| 6907300|51.494109|
|1/11/2012|59.06|59.53|59.04| 59.4| 6365600|51.808098|
|1/12/2012|59.79| 60.0| 59.4| 59.5| 7236400|51.895316|
+---------+-----+-----+-----+-----+--------+---------+
only showing top 8 rows

In [8]:
# To use spark Sql create a temporary view first then query on it
df.createOrReplaceTempView("testViewApp")
result=spark.sql("SELECT * FROM testViewApp WHERE Close>Open")
result.show()
testR=result.withColumn("currentDate",current_timestamp())
testR.show()

+---------+-----+-----+-----+-----+--------+---------+
|     Date| Open| High|  Low|Close|  Volume|Adj Close|
+---------+-----+-----+-----+-----+--------+---------+
| 1/3/2012|59.97|61.06|59.87|60.33|12668800|52.619235|
| 1/5/2012|59.35|59.62|58.37|59.42|12768200|51.825539|
| 1/9/2012|59.03|59.55|58.92|59.18| 6679300|51.616215|
|1/11/2012|59.06|59.53|59.04| 59.4| 6365600|51.808098|
|1/13/2012|59.18|59.61|59.01|59.54| 7729300|51.930204|
|1/18/2012|59.79|60.03|59.65|60.01| 5911400|52.340131|
|1/19/2012|59.93|60.73|59.75|60.61| 9234600|52.863447|
|1/20/2012|60.75|61.25|60.67|61.01|10378800|53.212321|
|1/23/2012|60.81|60.98|60.51|60.91| 7134100|53.125104|
|1/24/2012|60.75| 62.0|60.75|61.39| 7362800|53.543754|
|1/25/2012|61.18|61.61|61.04|61.47| 5915800|53.613531|
|1/30/2012|60.47|61.32|60.35| 61.3| 7636900|53.465257|
| 2/1/2012|61.79|62.63|61.79|62.18|12130600|54.232785|
| 2/6/2012|61.85|61.98| 61.7|61.88| 5480600|53.971129|
| 2/7/2012|61.62| 61.9|61.62|61.69| 6084400|53.805411|
| 2/9/2012|61.58|62.16|61.58|61.96| 6453100|54.040903|
|2/10/2012|61.68|61.91|61.38| 61.9| 5501000|53.988573|
|2/14/2012|61.91|62.24|61.79|62.22| 5173100|54.267674|
|2/16/2012|61.77|62.19| 61.7|62.04| 7256400|54.110679|
|2/17/2012|62.32|62.57|61.91|62.48| 8191800|54.494442|
+---------+-----+-----+-----+-----+--------+---------+
only showing top 20 rows

+---------+-----+-----+-----+-----+--------+---------+--------------------+
|     Date| Open| High|  Low|Close|  Volume|Adj Close|         currentDate|
+---------+-----+-----+-----+-----+--------+---------+--------------------+
| 1/3/2012|59.97|61.06|59.87|60.33|12668800|52.619235|2022-03-19 20:49:...|
| 1/5/2012|59.35|59.62|58.37|59.42|12768200|51.825539|2022-03-19 20:49:...|
| 1/9/2012|59.03|59.55|58.92|59.18| 6679300|51.616215|2022-03-19 20:49:...|
|1/11/2012|59.06|59.53|59.04| 59.4| 6365600|51.808098|2022-03-19 20:49:...|
|1/13/2012|59.18|59.61|59.01|59.54| 7729300|51.930204|2022-03-19 20:49:...|
|1/18/2012|59.79|60.03|59.65|60.01| 5911400|52.340131|2022-03-19 20:49:...|
|1/19/2012|59.93|60.73|59.75|60.61| 9234600|52.863447|2022-03-19 20:49:...|
|1/20/2012|60.75|61.25|60.67|61.01|10378800|53.212321|2022-03-19 20:49:...|
|1/23/2012|60.81|60.98|60.51|60.91| 7134100|53.125104|2022-03-19 20:49:...|
|1/24/2012|60.75| 62.0|60.75|61.39| 7362800|53.543754|2022-03-19 20:49:...|
|1/25/2012|61.18|61.61|61.04|61.47| 5915800|53.613531|2022-03-19 20:49:...|
|1/30/2012|60.47|61.32|60.35| 61.3| 7636900|53.465257|2022-03-19 20:49:...|
| 2/1/2012|61.79|62.63|61.79|62.18|12130600|54.232785|2022-03-19 20:49:...|
| 2/6/2012|61.85|61.98| 61.7|61.88| 5480600|53.971129|2022-03-19 20:49:...|
| 2/7/2012|61.62| 61.9|61.62|61.69| 6084400|53.805411|2022-03-19 20:49:...|
| 2/9/2012|61.58|62.16|61.58|61.96| 6453100|54.040903|2022-03-19 20:49:...|
|2/10/2012|61.68|61.91|61.38| 61.9| 5501000|53.988573|2022-03-19 20:49:...|
|2/14/2012|61.91|62.24|61.79|62.22| 5173100|54.267674|2022-03-19 20:49:...|
|2/16/2012|61.77|62.19| 61.7|62.04| 7256400|54.110679|2022-03-19 20:49:...|
|2/17/2012|62.32|62.57|61.91|62.48| 8191800|54.494442|2022-03-19 20:49:...|
+---------+-----+-----+-----+-----+--------+---------+--------------------+
only showing top 20 rows

In [ ]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('testApp').getOrCreate()
df=spark.read.csv("C:\\Users\\Nilakantha\\Documents\\Python-and-Spark-for-Big-Data-master\\Spark_DataFrames\\appl_stock.csv",inferSchema=True,header=True)
# df.take(4)
df.show(4)
df.head(6)[5]

In [ ]:
df.filter('Close>500').select(['Date','Close']).show(4)
# df.filter('Close>500').select('Date','Close').show(4) #can be written like this too,but not advisible